{% extends 'back-end/app.twig' %}
{% block title %} Admin Page - MIT Book Store {% endblock %}

{% block nav %}
	{% include 'back-end/partials/navadmin.twig' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
    	<section class="content-header">
    		<h1>
		        Admin Page
		    </h1>
		    <ol class="breadcrumb">
		        <li><a href="{{ path_for('admin.index')}}">
					<i class="fa fa-dashboard"></i>Home</a>
				</li>
		    </ol>
    	</section>
    </div>
{% endblock %}
