{% extends 'templates/app.twig' %}

{% block title %} Login Admin - MIT Book Store 	{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{base_url()}}/assets/css/loginadmin.css">
{% endblock %}

{% block content %}
	<center>
    <div class="login">
		<header class="login-header"><span class="text">MBS</span><span class="loader"></span></header>
		<form class="login-form">
	    	<input class="login-input" type="text" placeholder="Username"/>
	    	<input class="login-input" type="password" placeholder="Password"/>
	    	<button class="login-btn">login</button>
	  	</form>
	</div>
	</center> 
{% endblock %}

{% block script %}
    <script src="{{base_url()}}/assets/js/loginadmin.js"></script>
{% endblock %}