{% extends 'templates/app.twig' %}

{% block title %} {{data.username}} - Data {% endblock %}

{% block content %}
    <button type="button">Edit</button>
    <form action="{{path_for('user.edit')}}">
    	{% if data.name == null %}
    	<input type="text" name="name" placeholder="Name">
    	{% else %}
    	<input type="text" name="name" placeholder="Name" value="{{data.name}}"disabled>
    	{% endif %}

    	{% if data.username == null %}
    	<input type="text" name="username" placeholder="Name">
    	{% else %}
    	<input type="text" name="username" value="{{data.name}}"disabled>
    	{% endif %}
    </form>
{% endblock %}