<header class="main-header">
	<a href="{{ path_for('admin.index')}}" class="logo">
		<span class="logo-mini"><b>MBS</b></span>
		<span class="logo-lg"><b>MIT</b> Book Store</span>
	</a>
	<nav class="navbar navbar-static-top" role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        	<span class="sr-only">Toggle navigation</span>
      	</a>
      	<div class="navbar-custom-menu">
      		<ul class="nav navbar-nav">
      			<li class="dropdown user user-menu">
      				<a href="{{path_for('admin.change_password')}}" class="dropdown-toggle" data-toggle="dropdown">
      					<span class="hidden-xs">Admin</span>
           			</a>
           			<ul class="dropdown-menu">
           				<li class="user-footer">
				                <a href="{{path_for}}" class="btn btn-default btn-flat">Change Password</a>
				        </li>
				        <li class="user-footer">
				               	<a href="{{path_for('admin.logout')}}" class="btn btn-default btn-flat">Sign out</a>
				        </li>
				    </ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li class="header"><h4><i class="fa fa-dashboard"></i> Menu</h4></li>
    	</ul>
    </section>
</aside>